@import "tailwindcss";

@theme {
  --color-brand-dark: #1D2B1D;    /* Dark Forest Green/Black */
  --color-brand-primary: #E4A101; /* Golden Orange */
  --color-brand-bg: #FFFFFF;      /* Pure White Background */
  
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

@layer base {
  html {
    scroll-behavior: smooth;
    /* Optional: Prevents layout shift when scrollbar appears */
    scrollbar-gutter: stable; 
  }
  body {

    @apply bg-brand-bg text-brand-dark antialiased pt-16 sm:pt-0 pb-32 sm:pb-0;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #1D2B1D;
  }
  ::-webkit-scrollbar-thumb {
    background: #E4A101;
    border-radius: 5px;
    border: 3px solid #1D2B1D;
  }
}

