@import "tailwindcss";

@theme {
  --color-brand-dark: #1D2B1D;    /* Dark Forest Green/Black */
  --color-brand-primary: #E4A101; /* Golden Orange */
  --color-brand-bg: #FFFFFF;      /* Pure White Background */
  
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

@layer base {
  body {
    /* Fix: Body text must be dark to be visible on white background */
    @apply bg-brand-bg text-brand-dark antialiased overflow-x-hidden;
  }
  .body {
    scroll-behavior: smooth;
}

}
